<div class="container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav class="navbar fixed-top navbar-expand-lg">
            <a class="navbar-brand  ml-5" href="index.html">
                <img id="brand-logo" src="assets/camera-icon_favicon_dark.svg" alt="Logo" title="Logo">
                <span class="sr-only">Click</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mr-5">
                <img id="toggler-icon" src="assets/navbartoggle-icon_dark.svg">
            </span>
            </button>
            <div class="collapse navbar-collapse mydropdown" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-5 ml-5">
                        <a class="nav-link" routerLinkActive="active" routerLink="home"><i class="bi bi-house-fill"></i> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-5 ml-5">
                        <a class="nav-link" routerLinkActive="active" routerLink="portfolio"><i class="bi bi-briefcase-fill"></i> Portfolio</a>
                    </li>
                    <li class="nav-item mr-5 ml-5">
                        <a class="nav-link" routerLinkActive="active" routerLink="about"><i class="bi bi-info-circle-fill"></i> About</a>
                    </li>
                    <li class="nav-item mr-5 ml-5">
                        <a class="nav-link" routerLinkActive="active" routerLink="contact"><i class="bi bi-person-lines-fill"></i> Contact</a>
                    </li>
                    <li class="nav-item mr-5 ml-5">
                        <button class="btn btn-link">
                            <img id="theme" src="assets/day-icon_toggle.svg" alt="Light mode" title="Light mode" onclick="changemode()">
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>