<div class="container-fluid-about col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 justify-content-center">
        <div>
            <img src="assets/Images/About_photographer2.jpg" id="img-about" class="img-fluid" alt="About"/>
        </div>
        <div class="about">
            <h2 class="font-weight-bold">Lorem Ipsum</h2>
            <p class="font-weight-light text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium eos, aperiam ad nulla blanditiis, velit, amet provident minima esse culpa commodi fugiat quos alias suscipit repellat non quis modi exercitationem.</p>
        </div>
    </div>
</div>